{% load static %}
<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,
initial-scale=1.0" />
    <title>
      {% block title %}
        Notice Board
      {% endblock title %}
    </title>

     <!-- CSS links or stylesheets --> 
    <link rel="stylesheet" href="{% static 'notices/styles.css' %}" />

  </head>
  <body>
    <header>
      <h1>
        {% block header %}
          Notice Board
        {% endblock header %}
      </h1>
      <!-- Add navigation links or other header content here -->
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <!-- Add footer content or links here -->
    </footer>
  </body>
</html>
