body {
  font-family: "Arial", sans-serif;
}

header {
  background-color: #143561;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  padding: 0;
}
 
li {
  margin-bottom: 20px;
}
 
footer {
  background-color: #143561;
  color: white;
  padding: 10px;
  text-align: center;
}
